.Rproj.user
.Rhistory
.RData
.Ruserdata
/doc/
/Meta/
.predmicror_hotfix_backups/
.predmicror_phase2_backups/
predmicror_1_2_0_phase2/
predmicror_1_2_1_cleanup_hotfix/
predmicror_1_3_0_vignettes/
predmicror_1_3_0_vignettes.zip
